.s {
  /* reset browser styles */
  border: 0;

  width: 100%;

  box-sizing: border-box;
  height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 3px;

  padding-left: 10px;
  padding-right: 10px;

  font-style: normal;
  font-weight: 400;
}

.s:focus {
  outline: none;
  border-bottom: 4px solid rgba(0, 0, 0, .4);
  padding-bottom: 0px;
}
