@import url(../vendor/normalize.css);

/*
  BEM Nested
  https://ru.bem.info/methodology/filestructure/
*/

@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__caption/header__caption.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__converter/main__converter.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/__image/button__image.css);
@import url(../blocks/button/__text/button__text.css);

@import url(../blocks/converter/converter.css);
@import url(../blocks/converter/__currency/converter__currency.css);
@import url(../blocks/converter/__currency-toggler/converter__currency-toggler.css);
@import url(../blocks/converter/__label/converter__label.css);
@import url(../blocks/converter/__target-amount/conveter__target-amount.css);
@import url(../blocks/converter/__source-amount/converter__source-amount.css);
@import url(../blocks/converter/__values/converter__values.css);

@import url(../blocks/labeled-editor/labeled-editor.css);
@import url(../blocks/editor/editor.css);

@import url(../blocks/equal-expression/equal-expression.css);
@import url(../blocks/equal-expression/__item/equal-expression__item.css);
