# Workflow name
name: 'Run `b3b00/coverlet-action`'

# Event for the workflow
on:
  # push:
  pull_request:
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# List of jobs
jobs:
  test:
    # Operating System
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./console/

    # Job Steps
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'
          include-prerelease: true

      - name: Display dotnet version
        run: dotnet --version

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Collect Code Coverage
        run: dotnet test --collect:\"XPlat Code Coverage\"

      - name: Upload Code Coverage
        #- uses: actions/checkout@master
        # https://github.com/marketplace/actions/codecov
        # https://github.com/codecov/codecov-demo-full/blob/main/.github/workflows/api.yml
        # https://docs.codecov.com/docs/codecov-uploader
        - uses: codecov/codecov-action@v3
          with:
            #files: ./coverage1.xml,./coverage2.xml # optional
            #flags: unittests # optional, https://docs.codecov.com/docs/flags
            #name: codecov-umbrella # optional
            fail_ci_if_error: true # optional (default = false)
            #verbose: true # optional (default = false)
